:root {
  /* color */
  --white-color: #f2ecd6;
  --black-colof: #100a14;
  --red-color: #7e1616;
  --blue-color: #21140b;
  --yellow-color: #e5c51b;
}

body {
  background-color: var(--white-color);
}

.main {

}

.top-menu {
  display: flex;
}

.bottom-menu {
  display: flex;
}
