:root {
  /* color */
  --white-color: #F2F2F2;
  --black-color: #191A23;
  --blue-color: #031BFF;
  --yellow-color: #FDBA00;
}


body {
  background-color: var(--white-color);
  font-family: 'Times New Roman', Times, serif;
}

/*link text color*/
a:link {
  color : var(--black-color);
  text-decoration: none;
}
a:visited {
  color : var(--black-color);
}
a:hover {
  color : var(--yellow-color);
}
a:active {
  color : var(--yellow-color);
}

/* select text color */
p::selection {
  background: var(--yellow-color);
  color: var(--black-color)
}


.top-menu {
  display: flex;
  background-color: var(--white-color);
  position: fixed;
  border-bottom: 2px solid var(--black-color); 
  top: 0;
  left: 0;
  right: 0;

  height: 30px;
  padding: 1rem;
  color: var(--black-color);
  font-size: 25px;
  font-weight: 550;
  justify-content: space-around;
  align-items: center;
  
}

.home {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.home:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.gender {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.gender:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.nationality {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.nationality:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.introduction {
  padding: 130px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
}

.bottom-menu {
  display: flex;
  background-color: var(--white-color);
  position: fixed;
  border-top: 2px solid var(--black-color); 
  left: 0;
  right: 0;
  bottom: 0;

  height: 30px;
  padding: 1rem;
  color: var(--black-color);
  font-size: 25px;
  font-weight: 550;
  justify-content: space-around;
  align-items: center;
}

.montclair {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.montclair:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.seoul {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.seoul:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

@media screen and (max-width: 800px) {
  .introduction {
    padding-left: 5%;
    padding-right: 5%;
  }
}



